body {
    margin: 0;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
body.loaded {
    opacity: 1;
}
header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: none; /* 禁用顶部栏的过渡效果 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
nav {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 60px; /* 确保导航栏在顶部栏下方 */
    width: 100%;
    z-index: 999;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #575757;
}
main {
    padding: 20px;
    margin-top: 100px; /* 确保内容不被顶部栏和导航栏遮挡 */
}
main img {
    width: 100%; /* 使图片宽度与页面宽度相同 */
    height: auto; /* 保持图片比例 */
}
.login-container {
    display: flex;
    align-items: center;
}
.login-container a, .login-container span {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
#music-control {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}
.kouhao {
    font-family: "SimHei", "黑体", sans-serif; 
    text-align: center;
    margin-top: 80px; /* 调整距离 */
    font-size: 24px; /* 调大字号 */
}
.zuopin {
    font-family: "SimHei", "黑体", sans-serif; 
    text-align: center;
    margin-top: 80px; /* 调整距离 */
    font-size: 20px; /* 调大字号 */
}
.novel {
    font-family: "SimHei", "黑体", sans-serif; 
    text-align: center;
    margin-top: 80px; /* 调整距离 */
    font-size: 20px; /* 调大字号 */
}
.zuozhe {
    font-family: "SimHei", "黑体", sans-serif; 
    text-align: center;
    margin-top: 80px; /* 调整距离 */
    font-size: 20px; /* 调大字号 */
}
.anime {
    font-family: "SimHei", "黑体", sans-serif; 
    text-align: center;
    margin-top: 80px; /* 调整距离 */
    font-size: 20px; /* 调大字号 */
}